
[submodule "third_party_repositories/ScaledYOLOv4"]
	path = third_party_repositories/ScaledYOLOv4
	url = https://github.com/WongKinYiu/ScaledYOLOv4
[submodule "third_party_repositories/Object_Detection_Metrics"]
	path = third_party_repositories/Object_Detection_Metrics
	url = https://github.com/rafaelpadilla/Object-Detection-Metrics
